/* Base styles for the page */
.homepage {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #dbe6ede5;
    min-height: 100vh;
    font-family: "Poppins", serif;;
 
    
}

/* Main heading style */
.page-heading {
    text-align: center;
    margin-bottom: 40px;
    color: #594f5f;
    font-size: 2.5rem;
    font-weight: 600;
    
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

